.u_body{
	position: relative;
	max-width: 720px;
	min-height: 100%;
	margin: 0px auto;
	background-color: #eeeeee;
}

.title{
	width: 100%;
	height: 35px;
	background: #FA1616;
	color: #FFF;
	text-align: center;
}

.u_list{
	width: 100%;
	margin-top: 7px;
}

.form-group{
	margin-bottom: 3px;
	background: #fff;
}
