.div_main .div_search{
	margin-top: 50px;
}

#div_order table td{
	margin-left: 50px;
}

.div_right{
	width: 200px;
	height:70px;
	border-radius:35px;
	position: fixed;
	right: 50px;
	top: 100px;
	-moz-box-shadow:5px 5px 5px #888888; /* 老的 Firefox */
	box-shadow: 5px 5px 5px #888888;
}
.div_right .div_img{
	float:left;
}
.div_right .div_info{
	float:left;
}

.div_right .div_img img{
	width: 70px;
	height: 70px;
	border-radius:35px;
}

