.div_main .div_search{
	margin-top: 50px;
}

.div_main .div_user{
	margin-top: 20px;
}

#div_user td {
	text-align: center;
}

.div_radio .radio{
	float: left;
}

.div_btn_group{
	-moz-box-shadow: 5px 5px 5px #888888; /* 老的 Firefox */
	box-shadow: 5px 5px 5px #888888;

	position: fixed;
	top: 100px;
	right: 100px;
}

.span_warning{
	font-size: 14px;
	color: #ad1b22;
	font-style: italic;
}
