body{
	padding-top: 70px;
}

.div_main .div_search{
	margin-top: 50px;
}

.div_main .div_user{
	margin-top: 20px;
}

.div_main .div_user img{
	height:300px;
	width: 200px;
}

.div_btn_group{
	position: fixed;
	top: 100px;
	right: 100px;
}

#div_user td{
	text-align: center;
}
.div_btn_group{
	-moz-box-shadow: 5px 5px 5px #888888; /* 老的 Firefox */
	box-shadow: 5px 5px 5px #888888;
}

.div_radio .radio{
	float: left;
}